:root {
	// Font variables
	--text-preset-1: 700 2rem 'Fraunces', serif;
	--text-preset-2: 700 0.875rem/0.9625rem 'Montserrat', sans-serif;
	--text-preset-3: 500 0.875rem/1.4rem 'Montserrat', sans-serif;
	// Text preset 4 add letter-spacing: 0.3125rem property.
	--text-preset-4: 500 0.75rem/0.9rem 'Montserrat', sans-serif;
	// Text preset 5 add text-decoration: line-through property.
	--text-preset-5: 500 0.8125rem/0.975rem 'Montserrat', sans-serif;

	// Colour variables
	--black: #1c232b;
	--grey: #6c7289;
	--cream: #f2eae2;
	--white: #ffffff;
	--green-500: #3d8168;
	--green-700: #1a4032;
}

// Defaults & resets
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--cream);
	font-size: 16px;
	color: var(--grey);
}

img {
	inline-size: 100%;
}

a {
	text-decoration: none;
	color: var(--black);
}

// Utilities
.container {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 0 5.25rem;
}

// Product card styles
.product-card {
	background-color: var(--white);
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	max-inline-size: 600px;
	overflow: hidden;

	.product-card--image {
		inline-size: 50%;

		img {
			height: 100%;
			object-fit: cover;
		}
	}

	.product-card--content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		inline-size: 50%;
		padding: 2rem;

		.product-tag {
			font: var(--text-preset-4);
			letter-spacing: 0.3125rem;
		}

		.product-title {
			font: var(--text-preset-1);
			color: var(--black);
		}

		.product-description {
			font: var(--text-preset-3);
		}

		.product-price--group {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 1rem;

			.product-price--sale {
				font: var(--text-preset-1);
				color: var(--green-500);
			}

			.product-price--retail {
				font: var(--text-preset-5);
				text-decoration: line-through;
			}
		}

		.product-btn {
			background-color: var(--green-500);
			border: none;
			border-radius: 0.5rem;
			color: var(--white);
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			font: var(--text-preset-2);
			inline-size: 100%;
			padding: 1rem;
			transition: all 0.2s ease;

			&:hover {
				background-color: var(--green-700);
			}

			&:focus-visible {
				outline: 2px solid var(--green-700);
				outline-offset: 2px;
			}

			&::before {
				background-image: url('./images/icon-cart.svg');
				background-size: contain;
				background-repeat: no-repeat;
				content: '';
				display: inline-block;
				height: 1rem;
				margin-inline-end: 0.5rem;
				width: 1rem;
			}
		}
	}
}

// Footer attribution styles
.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}

@media (max-width: 48rem) {
	.container {
		padding: 5rem 0.75rem;
	}

	.product-card {
		flex-direction: column;

		.product-card--image {
			inline-size: 100%;
		}

		.product-card--content {
			inline-size: 100%;
			display: flex;
			gap: 1.5rem;
		}
	}
}
